.sectiom-overview-product-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;
  /* width: 230px; */
}

.image-container {
  height: 200px;
  margin: 0 auto;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.product-name {
  padding: 0px 10px;
  overflow: hidden;
  font-weight: 500;
  margin: 10px 0;
  color: #515151;
  font-size: 16px;
  text-decoration: none !important;
  min-height: 40px;
}
.rating-box {
  padding: 0px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #515151;
}

.star {
  color: #ffc527;
  margin-right: 5px;
}
.rating {
  margin-right: 10px;
  font-weight: 500;
}
.current-price {
  padding: 0px 10px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 12px;
  color: #515151;
}
.orignal-price {
  padding: 0px 10px;
  text-decoration: line-through;
  font-size: 12px;
  color: #515151;
}
.bottom-button {
  width: calc(100% - 20px);
  height: 41px;
  background: #f37022;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  margin: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}
@media only screen and (max-width: 580px) {
  .sectiom-overview-product-card {
    width: 100%;
  }
}
